.pagination {
    align-items: center;
    display: flex;

    &-btn {
        border: 1px solid var(--clr-border);
        color: var(--clr-text-default);
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        margin-left: -1px;
        padding: 6px 12px;
    }

    &-prev {
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
    }

    &-next {
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
    }

    &-active {
        background-color: var(--clr-brand-primary);
        border-color: var(--clr-brand-primary);
        color: #fff;
    }
}
