.wrap {
    background-color: #fff;
    border: 1px solid var(--clr-border);
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgb(55 73 72 / 2%);
    max-width: 320px;
    padding: 24px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.label {
    color: var(--clr-text-dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.plan {
    color: var(--clr-text-light);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.43;
}

.body {
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 5px;
}

.duration {
    color: var(--clr-text-light);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

    li {
        background-image: url("data:image/svg+xml,%3Csvg fill='%23666' clip-rule='evenodd' fill-rule='evenodd' height='512' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.481 2 2 6.481 2 12s4.481 10 10 10 10-4.481 10-10S17.519 2 12 2zm0 2c4.415 0 8 3.585 8 8s-3.585 8-8 8c-4.416 0-8-3.585-8-8s3.584-8 8-8zm-1.768 9.414 4.95-4.95a1 1 0 0 1 1.414 1.415l-5.657 5.657a1 1 0 0 1-1.414 0l-2.121-2.122A.999.999 0 1 1 8.818 12z'/%3E%3C/svg%3E");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 16px;
        color: var(--clr-text-default);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.42;
        padding-left: 24px;
    }
}

.cta {
    align-items: center;
    background-color: #ff0080;
    border: 1px solid #ff0080;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    min-height: 38px;
    padding: 0 10px;
}
