.wrap {
    align-items: center;
    // background-color: #fff;
    // border-bottom: 1px solid var(--clr-border);
    border-top: 1px solid var(--clr-border);
    border-radius: 5px;
    display: flex;
    gap: 12px;
    padding: 24px 8px;

    // &:hover {
    //     box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 7%);
    //     transition: all 0.25s ease-in-out;
    // }

    &:last-of-type {
        border-bottom: 1px solid var(--clr-border);
    }
}

.avatar {
    border-radius: 50%;
}

.details {
    display: flex;
    flex-direction: column;
}

.name {
    color: var(--clr-text-dark);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
}

.email {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
}

.delete {
    align-items: center;
    // background-color: #ccc;
    border-radius: 50%;
    color: var(--clr-text-light);
    cursor: pointer;
    display: flex;
    height: 42px;
    justify-content: center;
    transition: all 0.25s ease-in-out;
    width: 42px;

    &:hover {
        background-color: #f4f4f4;
        color: var(--clr-text-default);
        transition: all 0.25s ease-in-out;
    }

    i {
        --size: 20px;
    }
}
