.container {
    align-items: center;
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.btn {
    align-items: center;
    border-bottom: 2px solid transparent;
    color: var(--clr-text-default);
    display: flex;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        color: var(--clr-text-dark);
    }

    &.active {
        border-color: var(--clr-text-dark);
        color: var(--clr-text-dark);
    }
}

.content {
    &:not(.active) {
        display: none;
    }
}

// .table {
//     border: 1px solid var(--clr-border);
//     border-radius: 5px;
//     border-spacing: 0;
//     color: var(--clr-text-default);
//     font-size: 14px;
//     line-height: 1.8;
//     max-width: 1200px;
//     width: 100%;

//     th {
//         color: var(--clr-text-dark);
//         font-weight: 600;
//         text-align: left;
//     }

//     thead {
//         background-color: #f1f1f1;
//         border-top-left-radius: 5px;
//     }

//     td,
//     th {
//         padding: 8px 10px;
//         vertical-align: baseline;
//         width: 100%;
//         // &:first-child {
//         //     width: 25%;
//         // }

//         // &:nth-child(2) {
//         //     width: 35%;
//         // }
//     }
// }
