.container {
    align-items: center;
    display: flex;
    gap: 24px;
    margin-bottom: 52px;
}

.button {
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--clr-border);
    border-radius: 24px;
    color: var(--clr-text-default);
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    min-height: 48px;
    padding: 0 32px;
    transition: all 0.25s ease-in-out;

    &:hover {
        border-color: var(--clr-brand-primary);
        transition: border-color 0.25s ease-in-out;
    }

    &.active {
        background-color: var(--clr-brand-primary);
        border-color: var(--clr-brand-primary);
        color: #fff;
        transition: all 0.25s ease-in-out;
    }
}

.content {
    &:not(.active) {
        display: none;
    }
}
