.wrap {
    align-items: center;
    animation-delay: 0.2s;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-name: slideIn;
    background-color: var(--clr-alert-bg);
    border: 1px solid var(--clr-alert-border);
    border-radius: 12px;
    bottom: 0;
    color: var(--clr-text-dark);
    display: flex;
    gap: 12px;
    left: 50%;
    padding: 7px 8px 7px 7px;
    position: fixed;
    transform: translateX(-50%) translateY(100%);
    transition: transform 0.25s ease-in-out;

    &.success {
        --clr-alert-icon: #3cba5e;
        --clr-alert-bg: #ebf7ee;
        --clr-alert-border: #bee5c8;
    }

    &.warning {
        --clr-alert-icon: #ef9400;
        --clr-alert-bg: #fdf6e9;
        --clr-alert-border: #fadeaf;
    }

    &.info {
        --clr-alert-icon: #006be1;
        --clr-alert-bg: #e4eef9;
        --clr-alert-border: #abcdf1;
    }

    &.danger {
        --clr-alert-icon: #ec4e2c;
        --clr-alert-bg: #fcedea;
        --clr-alert-border: #f5c5bb;
    }

    &.close {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
}

.icon {
    align-items: center;
    aspect-ratio: 1/1;
    background-color: var(--clr-alert-icon);
    border-radius: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 36px;

    i {
        --size: 22px;
    }
}

.text {
    font-size: 16px;
    padding-right: 6px;
}

.close-btn {
    align-items: center;
    aspect-ratio: 1/1;
    color: var(--clr-text-light);
    display: flex;
    justify-content: center;
    transition: all 0.25s ease-in-out;
    width: 30px;

    &:hover {
        color: var(--clr-text-default);
        transition: all 0.25s ease-in-out;
    }

    i {
        --size: 14px;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(100%);
    }

    to {
        transform: translateX(-50%) translateY(-100%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(-50%) translateY(-100%);
    }

    to {
        transform: translateX(-50%) translateY(100%);
    }
}
