.addRole {
    align-self: stretch;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--clr-border);
    border-radius: 10px;
    box-shadow: 0 0 0 0 var(--clr-border);
    display: flex;
    font-size: 20px;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    line-height: 1.7;
    max-width: 320px;
    min-width: 320px;
    padding: 24px;
    transition: all 0.25s ease-in-out;
    width: 100%;

    &:hover {
        box-shadow: 0 0 0 1px var(--clr-border);
        transition: all 0.25s ease-in-out;
    }
}
