.email {
    align-items: center;
    border: 1px solid var(--clr-border);
    border-radius: 5px;
    box-shadow: 0 0 0 0 var(--clr-border);
    background-color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    line-height: 1.4;
    min-height: 48px;
    padding: 0 16px;
    position: relative;
    transition: all 0.25s ease-in-out;

    &:hover {
        box-shadow: 0 0 0 1px var(--clr-border);
        transition: all 0.25s ease-in-out;
    }
}

.cta {
    color: var(--clr-text-default);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.wrap {
    display: flex;
    flex-direction: column;
    padding: 20px 24px 26px;
}
