.container {
    background-color: #fff;
    border: 1px solid var(--clr-border);
    border-radius: 5px;
    margin-bottom: 32px;
}

.header {
    align-items: center;
    display: flex;
    gap: 24px;
    padding: 20px;
}

.footer {
    border-top: 1px solid var(--clr-border);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    padding: 20px;

    a {
        color: var(--clr-anchor);
        text-decoration: underline;
    }
}

.stat {
    align-items: center;
    display: flex;
    gap: 8px;
}

.icon {
    aspect-ratio: 1/1;
    background-color: #2d2e2e;
    border-radius: 50%;
    max-width: 40px;
    min-width: 40px;
    width: 100%;
}

.circle {
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 6px solid #eee;
    border-radius: 50%;
    max-width: 40px;
    min-width: 40px;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--clr-text-dark);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.desc {
    color: var(--clr-text-default);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
