:root {
    --clr-text-default: #666666;
    --clr-text-dark: #000000;
    --clr-text-light: #a0a0a0;
    --clr-anchor: #136bf5;
    --clr-border: #e6e6e6;
    --clr-brand-primary: #05c896;
    --clr-brand-secondary: #edecea;
    --clr-input-border: #424242;
    --input-height: 50px;
}
