.container {
    --size: 18px;

    align-items: center;
    aspect-ratio: 1/1;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    max-width: var(--size);
    min-width: var(--size);
    position: relative;
    transition: background-color 0.25s ease-in-out;
    width: 100%;

    &::after {
        background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.985 511.985' style='enable-background:new 0 0 511.985 511.985' xml:space='preserve'%3E%3Cpath d='M500.088 83.681c-15.841-15.862-41.564-15.852-57.426 0L184.205 342.148 69.332 227.276c-15.862-15.862-41.574-15.862-57.436 0-15.862 15.862-15.862 41.574 0 57.436l143.585 143.585c7.926 7.926 18.319 11.899 28.713 11.899 10.394 0 20.797-3.963 28.723-11.899l287.171-287.181c15.862-15.851 15.862-41.574 0-57.435z'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        scale: 0;
        top: 0;
        transition: scale 0.25s ease-in-out;
        width: 100%;
    }

    &:has(input:checked) {
        background-color: var(--clr-brand-primary);
        transition: background-color 0.25s ease-in-out;

        &::after {
            scale: 0.7;
            transition: scale 0.25s ease-in-out;
        }
    }

    input {
        cursor: pointer;
        height: var(--size);
        left: 0;
        max-height: var(--size);
        opacity: 0;
        position: absolute;
        top: 0;
        width: var(--size);
        z-index: 2;
    }
}

.group {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
