.status {
    color: var(--clr-text-default);
    font-size: 16px;
    font-weight: 500;
    padding-left: 32px;
    position: relative;
    text-transform: capitalize;

    &::before {
        aspect-ratio: 1/1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
    }
}

.success {
    color: #2e8b57;

    &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 367.805 367.805' style='enable-background:new 0 0 367.805 367.805' xml:space='preserve'%3E%3Cpath style='fill:%233bb54a' d='M183.903.001c101.566 0 183.902 82.336 183.902 183.902s-82.336 183.902-183.902 183.902S.001 285.469.001 183.903C-.288 82.625 81.579.29 182.856.001h1.047z'/%3E%3Cpath style='fill:%23d4e1f4' d='M285.78 133.225 155.168 263.837l-73.143-72.62 29.78-29.257 43.363 42.841 100.833-100.833z'/%3E%3C/svg%3E");
    }
}

.failed {
    color: red;

    &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 368.022 368.022' style='enable-background:new 0 0 368.022 368.022' xml:space='preserve'%3E%3Cpath style='fill:%23d7443e' d='M314.101 54.133c71.79 71.847 71.744 188.287-.103 260.077s-188.287 71.744-260.077-.103c-71.75-71.806-71.75-188.167 0-259.974 71.381-71.847 187.49-72.224 259.337-.843.282.28.563.561.843.843z'/%3E%3Cpath style='fill:%23d4e1f4' d='m275.439 124.663-59.559 59.56 59.559 59.559-31.869 31.869-59.559-59.559-59.559 59.559-31.87-31.869 59.56-59.559-59.56-59.56 31.87-31.869 59.559 59.559 59.559-59.559z'/%3E%3C/svg%3E");
    }
}
