.wrap {
    background-color: #fff;
    border: 1px solid var(--clr-border);
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgb(55 73 72 / 2%);
    padding: 24px;
    width: 100%;
}

.header {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.actions {
    align-items: center;
    display: flex;
    gap: 12px;
    margin-left: auto;
}

.action {
    align-items: center;
    background-color: hsl(215, 100%, 98%);
    border-radius: 4px;
    color: var(--clr-text-default);
    display: flex;
    font-size: 15px;
    font-weight: 500;
    gap: 8px;
    min-height: 42px;
    padding: 0 20px;
    transition: background-color 0.25s ease-in-out;

    &:hover {
        background-color: hsl(215, 100%, 96%);
        transition: background-color 0.25s ease-in-out;
    }

    i {
        --size: 14px;
        margin-left: -4px;
    }
}

.filter {
    align-items: center;
    display: flex;
    margin-bottom: 8px;

    span {
        color: var(--clr-text-default);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.45;
    }
}

.footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    width: 100%;

    p {
        color: var(--clr-text-default);
        font-size: 16px;
        font-weight: 500;
    }
}

.rdt_Table {
    overflow: auto;
    width: 100%;

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ededed;
        outline: none;
    }

    table {
        border-spacing: 0;
        width: 100%;
    }

    tr {
        &:not(:last-of-type) {
            td {
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            }
        }
    }

    th {
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
        color: var(--clr-text-dark);
        font-size: 16px;
        font-weight: 600;
        text-align: left;
    }

    td {
        color: var(--clr-text-default);
        font-size: 16px;
        font-weight: 500;
    }

    td,
    th {
        padding: 12px;
        white-space: nowrap;

        &:first-of-type {
            width: 48px;
        }

        &:last-of-type {
            width: 100px;
        }
    }

    tbody tr {
        &:hover {
            background-color: #f7f7f7;

            button {
                background-color: hsl(215, 100%, 92%);
            }
        }
    }
}
