.wrap {
    padding-bottom: 20px;
    width: 100%;

    strong {
        color: var(--clr-text-dark);
        font-size: 18px;
        font-weight: 500;
    }

    ol {
        margin: 12px 0 24px;
        padding-left: 20px;

        li {
            list-style: decimal;
        }
    }
}

.actions {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    button {
        max-width: max-content;
        padding: 0 24px;
    }
}
